<div *ngIf="usuario" class="p-4">
    <form [formGroup]="usuario!" class="formgrid grid">
        <div class="field col-6">
            <label for="tipoIdentificacion">Tipo de identificacion</label>
            <select id="tipoIdentificacion"
                formControlName="tipoIdentificacion"
                class="w-full text-base text-color surface-overlay p-2 border-1 border-solid border-round outline-none focus:border-primary" style="appearance: auto">
                <option value="''" selected>Seleccionar</option>
                <option *ngFor="let ti of tiposDocumentos" [value]="ti.value">{{ti.label}}</option>
            </select>
        </div>
        <div class="field col-6">
            <label for="identificacion">identificación</label>
            <input id="identificacion" type="text" formControlName="identificacion"
                class="text-base text-color surface-overlay p-2 border-1 border-solid border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-6">
            <label for="nombre">Nombre</label>
            <input id="nombre" type="text" formControlName="nombre"
                class="text-base text-color surface-overlay p-2 border-1 border-solid border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-6">
            <label for="genero">Género</label>
            <select id="genero" 
                formControlName="genero"
                class="w-full text-base text-color surface-overlay p-2 border-1 border-solid border-round outline-none focus:border-primary" style="appearance: auto">
                <option value="''" selected>Seleccionar</option>
                <option *ngFor="let g of generos" [value]="g.value">{{g.label}}</option>
            </select>
        </div>

        <p-button (onClick)="guardar()">Guardar</p-button>
    </form>
</div>