<div class="grid h-full">
  <div class="col-2 p-0 sidebar-tcc">
    <div class="flex justify-content-center">
      <img width="200" src="../assets/tcc_sin_fondo.png">
    </div>
    <p-menu [model]="items"></p-menu>
  </div>

  <div class="col p-0">
    <div class="mb-2 w-full shadow-3">
      <p-toolbar>
        Prueba técnica TCC
      </p-toolbar>
    </div>
    <div class="col p-0">
      <div class="layout-main">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<p-messages></p-messages>
